.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5cm;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #333;
}

.input-container {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.button-container {
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
}

.signup-reset-container {
  text-align: center;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.separator {
  margin: 0 10px;
  color: #555;
}




@media screen and (max-width: 600px) {
  .login-container {
    max-width: 100%;
  }

}

/* Add background color to the container */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5cm;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  /* Add your desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the button */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Add a smooth transition effect */
}

button:hover {
  background-color: #0056b3;
  /* Change the background color on hover */
}