/* ResetPassword.css */
.reset-password-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5cm;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  /* Add your desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Style the input containers */
.input-container {
  margin-bottom: 15px;
}

/* Style the labels */
.label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

/* Style the input fields */
.input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style the button */
.button-container {
  text-align: center;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  /* Add a smooth transition effect */
}

button:hover {
  background-color: #0056b3;
  /* Change the background color on hover */
}

/* Style the login and signup links */
.login-signup-container {
  margin-top: 20px;
  text-align: center;
}

.separator {
  margin: 0 10px;
  color: #555;
}